#app2{
    width: 30vw;
}

#app2 .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#app2 .container>.item {
    /* width: 100%; */
    /* border: 0px #000 solid; */
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: #666;
}

#app2 .item.live {
    background-color: #ccc;
}

#app2 .stageBox {
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
